<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form method='post' action="{% url 'newPost' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value='Create Post!'>
        </form>
    {% else %}
        <h1>You need to <a href='/login'>Login</a> to create a post.</h1>
    {% endif %}
</body>
</html>